<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
    <servlet>
		<servlet-name>commAction</servlet-name>
		<servlet-class>com.wex.servlet.CommServlet</servlet-class>
	</servlet>
  <servlet>
		<servlet-name>loginAction</servlet-name>
		<servlet-class>com.wex.servlet.LoginServlet</servlet-class>
	</servlet>
  <servlet>
	<servlet-name>chgPasswordAction</servlet-name>
		<servlet-class>com.wex.servlet.ChgPasswordServlet</servlet-class>
	</servlet>	
	<servlet>
	<servlet-name>dashboardAction</servlet-name>
		<servlet-class>com.wex.servlet.DashboardServlet</servlet-class>
	</servlet>	
	<servlet>
	<servlet-name>customerAction</servlet-name>
		<servlet-class>com.wex.servlet.CustomerServlet</servlet-class>
	</servlet>	
	<servlet>	
	<servlet-name>productAction</servlet-name>
		<servlet-class>com.wex.servlet.ProductServlet</servlet-class>
	</servlet>		
	<servlet>	
	<servlet-name>buylistAction</servlet-name>
		<servlet-class>com.wex.servlet.BuylistServlet</servlet-class>
	</servlet>		
	<servlet>	
	<servlet-name>buyorderAction</servlet-name>
		<servlet-class>com.wex.servlet.BuyorderServlet</servlet-class>
	</servlet>		
	<servlet>	
	<servlet-name>buyproductAction</servlet-name>
		<servlet-class>com.wex.servlet.BuyproductServlet</servlet-class>
	</servlet>		
	<servlet>	
	<servlet-name>reportAction</servlet-name>
		<servlet-class>com.wex.servlet.ReportServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>commAction</servlet-name>
		<url-pattern>/commAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chgPasswordAction</servlet-name>
		<url-pattern>/chgPasswordAction</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>dashboardAction</servlet-name>
		<url-pattern>/dashboardAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerAction</servlet-name>
		<url-pattern>/customerAction</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>productAction</servlet-name>
		<url-pattern>/productAction</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>buylistAction</servlet-name>
		<url-pattern>/buylistAction</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>buyorderAction</servlet-name>
		<url-pattern>/buyorderAction</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>buyproductAction</servlet-name>
		<url-pattern>/buyproductAction</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>reportAction</servlet-name>
		<url-pattern>/reportAction</url-pattern>
	</servlet-mapping>	
	<context-param>
       <param-name>sysConfigLocation</param-name>
       <param-value>wex.properties</param-value>
    </context-param>
</web-app>
